#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp p>, <&kp BSPC>;
        };
    };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// ----------------------------------CURRENT------------------------------------------
// |  Q         |  W  |  E  |  R  |  T   |                 |  Y   |  U   |  I   |  O  |  P         |
// |  A         |  S  |  D  |  F  |  G   |                 |  H   |  J   |  K   |  L  |  ;         |
// |  Z (SHFT)  |  X  |  C  |  V  |  B   |                 |  N   |  M   |  ,   |  .  |  / (SHFT)  |
//                    | CTRL| LWR | SPC  |                 | SPC  |  RSE |  ALT |


                        bindings = <
   &trans &kp Q         &kp W &kp E &kp R &kp T                 &kp Y &kp U  &kp I     &kp O   &td0           &trans
   &trans &kp A         &kp S &kp D &kp F &kp G                 &kp H &kp J  &kp K     &kp L   &kp SEMI       &trans
   &trans &mt LSHFT Z   &kp X &kp C &kp V &kp B                 &kp N &kp M  &kp COMMA &kp DOT &mt RSHFT FSLH &trans
                              &kp LCTRL &tog 1  &kp SPACE       &kp SPACE &tog 2 &kp RALT
                        >;
                };
                lower_layer {
// ----------------------------------CURRENT------------------------------------------
// | TAB | BT 0 | BT 1 | BT 2 | BTCLR |        |     |     |     |     |      |
// | 1   |   2  |   3  |   4  |   5   |        |  6  |  7  |  8  |  9  | 0    |
// |SHFT |      |      |      |       |        |     |     |     |     | SHFT |
//              |  GUI |      |       |        |     |     |     |
                        bindings = <
   &trans &kp EXCL &kp AT         &kp HASH      &kp DLLR      &kp PRCNT         &kp CARET  &kp AMPS   &kp KP_MULTIPLY &kp UNDER   &kp MINUS &trans
   &trans &kp ESC  &kp LBRC       &kp LBKT      &kp LPAR      &kp DEL           &trans     &kp RPAR   &kp RBKT        &kp RBRC    &kp DEL   &trans
   &trans &kp TAB  &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR        &trans     &trans     &trans          &trans      &kp BSLH  &trans
                                  &kp LGUI      &trans        &trans            &trans     &trans     &trans   
                        >;
                };

                raise_layer {
// ----------------------------------CURRENT------------------------------------------
// |  ~   |     |   UP |     |     |   |  7  |  8  |  9  |  +  |   BKSP    |
// |  `   |RIGHT| DOWN | LEFT|     |   |  4  |  5  |  6  |  -  |   ENT     | 
// | SHFT |     |      |     |     |   |  1  |  2  |  3  |  =  | ' (SHFT)  |
//              |      |     |     |   |     |     |  0  |

                        bindings = <
   &trans &kp TILDE   &trans      &kp UP      &trans     &trans      &kp N7   &kp N8  &kp N9 &kp PLUS   &kp BSPC        &trans
   &trans &kp GRAVE   &kp LEFT    &kp DOWN    &kp RIGHT  &trans      &kp N4   &kp N5  &kp N6 &kp MINUS  &kp RET         &trans
   &trans &kp LSHFT   &trans      &trans      &trans     &trans      &kp N1   &kp N2  &kp N3 &kp EQUAL  &mt RSHFT SQT   &trans
                                  &trans      &trans     &trans      &trans   &trans  &kp N0
                        >;
                };
        };
};
