#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    tapping-term-ms = <300>;
};
&lt {
    tapping-term-ms = <300>;
};
&sk {
    quick-release;
};

/ {
    behaviors {
        tt: tip_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "TIP_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <125>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&sl>, <&sk>;
        };
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp R>, <&kp T>;
        };
    };
    combos {
        compatible = "zmk,combos";
        combo_enter {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp ENTER>;
        };
        combo_tab {
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&kp TAB>;
        };
        combo_gui {
            timeout-ms = <50>;
            key-positions = <37 40>;
            bindings = <&kp LGUI>;
        };
        combo_gaming {
            timeout-ms = <50>;
            key-positions = <36 41>;
            bindings = <&to 2>;
        };
    };
        keymap {
                compatible = "zmk,keymap";
                default_layer {
                        bindings = <
      // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
   &trans    &kp Q          &kp W         &kp E         &kp R        &kp T             &kp Y          &kp U        &kp I          &kp O         &kp P          &trans
      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &trans    &kp A          &kp S         &kp D         &kp F        &kp G             &kp H          &kp J        &kp K          &kp L         &kp SQT        &trans
      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &trans    &kp Z          &kp X         &kp C         &kp V        &kp B             &kp N          &kp M        &kp COMMA      &kp DOT       &kp FSLH       &trans
      // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                          &sk LALT      &sk LCTRL    &kp SPACE         &kp BSPC       &sk RSHFT    &to 1 
      //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >; 
                };
                numpad_layer {
                        bindings = <
      // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
   &trans    &kp N1        &kp N2         &kp N3       &kp N4        &kp N5            &kp N6         &kp N7       &kp N8       &kp N9        &kp N0           &trans
      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &trans    &kp ESC       &kp SEMI       &kp DEL      &kp GRAVE     &kp BSLH          &kp PG_UP      &kp HOME     &kp UP       &kp END        &kp MINUS       &trans
      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &trans    &none         &none          &kp LBKT     &kp RBKT      &none             &kp PG_DN      &kp LEFT     &kp DOWN     &kp RIGHT      &kp EQUAL       &trans
      // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                          &none        &trans        &trans            &trans         &trans       &to 0      
      //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
                media_layer {
                        bindings = <
      // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
   &trans    &kp N1        &kp N2        &kp ESC       &kp N3       &kp N4          &bt BT_SEL 1  &bt BT_SEL 2   &kp C_MUTE   &bt BT_SEL 3   &bt BT_CLR         &trans
      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &trans    &kp M         &kp Q         &kp W         &kp E        &td0                &kp TAB      &none       &kp C_VOL_UP     &none        &none            &trans
      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &trans    &kp Z         &kp A         &kp S         &kp D        &kp F               &none        &kp LEFT    &kp C_VOL_DN    &kp RIGHT     &none            &trans
      // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                         &mt B C       &mt LALT V   &kp SPACE           &kp BSPC      &to 0       &trans 
      //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
        };
};
